/build/
/.cmake/

/.vs/
/out/
.vscode/cmake-variants.json
.vscode/launch.json

# Documentation
/docs/

*.obj
*.exe
*.pdb
*.ilk
*.idb
*.token
*.tlog
*.pyd
*.dll
*.so
*.dylib

*.user
*.suo
*.ncb
*.opensdf
*.sdf

Thumbs.db
.DS_Store
